@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('../css/fonts/Inter-VF.woff2') format('woff2'), url('../css/fonts/Inter-VF.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}
:root {
    --font-family-400: 'Inter';
    --font-family-500: 'Inter';
    --font-family-600: 'Inter';
    --font-family-700: 'Inter';
    --font-family-800: 'Inter';
}
@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: 'Inter regular';
        src: local('Inter regular'), url('../css/fonts/Inter-Regular.woff2') format('woff2'), url('../css/fonts/Inter-Regular.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter medium';
        src: local('Inter medium'), url('../css/fonts/Inter-Medium.woff2') format('woff2'), url('../css/fonts/Inter-Medium.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter semi bold';
        src: local('Inter semi bold'), url('../css/fonts/Inter-SemiBold.woff2') format('woff2'), url('../css/fonts/Inter-SemiBold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter bold';
        src: local('Inter bold'), url('../css/fonts/Inter-Bold.woff2') format('woff2'), url('../css/fonts/Inter-Bold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter extra bold';
        src: local('Inter extra bold'), url('../css/fonts/Inter-ExtraBold.woff2') format('woff2'), url('../css/fonts/Inter-ExtraBold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }
    :root {
        --font-family-400: 'Inter regular';
        --font-family-500: 'Inter medium';
        --font-family-600: 'Inter semi bold';
        --font-family-700: 'Inter bold';
        --font-family-800: 'Inter extra bold';
    }
}

body {
    font-family: var(--font-family-400);
    font-weight: 400;
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
.title{
    font-weight: 800;
    font-size: 29px;
    padding-top: 19px;
    padding-bottom: 22px;
}
.blockCategories{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
.categories{
    display: flex;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    border-radius: 16px;
    cursor: pointer;
    .categoriesTitle{
        padding: 16px;
        font-weight: 600;
        font-size: 16px;
        color: black;
    }
}